<style>
.repo-info {
  font-size: small;
  color: #CCDEE3;
}

.repo-name {
  font-style: italic;
  font-weight: bold;
}

.repo-info div {
  margin-left: 1em;
}

.repo-info .head a{
  font-weight: bold;
}

.repo-info .head .branch{
  font-weight: bold;
}
</style>

{% for repo in repos_info %}
<div class="repo-info">
  <span class="repo-name">{{ repo.name }}</span>
  <div class="head">
    Using <a href={{ repo.url }} title="{{ repo.title }}" target="_blank">{{ repo.hash }}</a>
    from branch <span class="branch">{{ repo.branch }}</span>.
  </div>
  <div class="date">
    Last updated {{ repo.last_updated }}.
  </div>
</div>
{% endfor %}
